@import "../../scss/essentials";

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: toRem(28);
    height: toRem(28);
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid $clr--border;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1rem;
  color: $clr--active--primary;

  a {
    margin-top: 5px;
    transition: 0.1s ease;
  }

  a:nth-of-type(2) {
    color: $clr--txt--secondary;
    margin-left: toRem(4);
  }

  a:hover {
    transform: scale(1.3);
  }
}
