@import "../../scss/essentials";

.wrapper {
  width: 100%;
  background-color: $clr--bg--secondary;
  border: 1px solid $clr--bg--transparent;
  box-shadow: $shadow--four;
  border-radius: $border--radius;
  margin-bottom: $margin--mid;

  ul {
    margin-left: toRem(10);

    li {
      margin: toRem(5) 0;
      font-size: 0.9rem;
      font-weight: bold;
      text-transform: capitalize;
    }

    .sub {
      font-weight: normal;
      color: $clr--txt--secondary;
      text-transform: lowercase;
    }
  }
}

.btns {
  display: flex;
  width: 100%;
  // max-width: toRem(150);
  align-items: center;
  margin: $margin--mid 0;
  justify-content: space-between;
}

.btn {
  margin-left: toRem(10);
}

.header {
  padding: toRem(10) toRem(20);
  border-bottom: 1px solid $clr--bg--transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ref {
  padding: toRem(10) toRem(20);
  border-bottom: 1px solid $clr--bg--transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  padding: toRem(10) toRem(20);
}

.status {
  // background-color: $clr--bg--primary;
  padding: toRem(4) toRem(8);
  background-color: $clr--bg--transparent;
  border-radius: $border--radius;
}
