@import "../../scss/essentials";

.wrapper {
  width: 100%;
  background-color: $clr--bg--secondary;
  border: 1px solid $clr--border;
  border-radius: $border--radius;

  ul {
    margin-left: toRem(10);
  
    li {
      margin: toRem(5) 0;
      font-size: 0.9rem;
      font-weight: bold;
      text-transform: capitalize;
    }
  
    .sub {
      font-weight: normal;
      color: $clr--txt--secondary;
      text-transform: lowercase;
    }
  }
  
}

.header {
  padding: toRem(10) toRem(20);
  border-bottom: 1px solid $clr--border;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ref {
  padding: toRem(10) toRem(20);
  border-bottom: 1px solid $clr--border;

}

.content {
  padding: toRem(10) toRem(20);
text-align: justify;
}

.user {
  display: flex;
  align-items: center;
}

.profile {
  width: toRem(50);
  height: toRem(50);
  object-fit: fill;
  border-radius: 50%;
  border: 1px solid $clr--border;
}

.novelCover {
  width: toRem(50);
  height: toRem(70);
  border-radius: $border--radius;
  object-fit: cover;

}

.novel {
    display: flex;
    align-items: center;
}

