@import "../../scss/essentials";

.nav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: $zindex--navbar;
  background-color: $clr--bg--primary;
  box-shadow: $shadow--four;
}

.customContainer {
  padding: toRem(10) toRem(20);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  color: $clr--danger--primary;
  transition: 0.5s;
  svg {
    font-size: 2rem;
  }

  &:active {
    transform: scale(0.8);
  }

  @include breakpoint-up(laptop) {
    &:hover {
      transform: translateX(5px);
    }

    &:active {
      transform: none;
    }
  }
}
