@import "../../scss/essentials";

.typography {
  line-height: 2rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
}

.big {
  font-size: 2rem;
}

.mid {
  font-size: 1.6rem;
}

.small {
  font-size: 1rem;
}

.secondary {
  color: $clr--txt--secondary;
}

.danger {
  color: $clr--danger--secondary;
}
.success {
  color: $clr--success--primary;
}
.active {
  color: $clr--active--primary;
}
.warn {
  color: $clr--warn--secondary;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.justify {
  text-align: justify;
}
