@import "../../scss/essentials";

.customContainer {
  @include breakpoint-up(laptop) {
    display: flex;
    justify-content: space-between;
  }
}

.img {
  display: none;
  @include breakpoint-up(laptop) {
    display: block;
    position: sticky;
    top: toRem(100);
    width: 30%;
    max-width: toRem(150);
    align-self: flex-start;
  }
}

.form {
  width: 100%;
  margin: $margin--mid 0;

  @include breakpoint-up(laptop) {
    width: 70%;
  }
}

.danger {
  //   background: rgba(255, 102, 102, 0.7);
  border: 1px solid $clr--danger--secondary;
  box-shadow: $shadow--one;
  border-radius: $border--radius;
  padding: toRem(20);
  margin: $margin--high auto;
  width: 100%;
  // max-width: $max-width-tablet;
  // align-self: flex-start;
  //   background-color: red;
}
