@import "../../../scss/essentials";

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: toRem(350);
  font-weight: 600;
  text-transform: capitalize;
  font-size: 0.7rem;
  background-color: $clr--bg--primary;
  li a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  li a svg {
    transition: 0.2s ease-in-out;
  }

  li a:hover {
    svg {
      transform: scale(1.15);
    }
  }

  li svg {
    margin-bottom: toRem(5);
    font-size: 1.4rem;
  }

  @include breakpoint-down(laptop) {
    display: none;
  }
}
