@import "../../scss/essentials";

.wrapper {
  @include breakpoint-up(desktop) {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
.img {
  display: none;

  @include breakpoint-up(desktop) {
    display: block;
    width: 40%;
    max-width: toRem(200);
    align-self: flex-end;
  }
}

.largeImg {
  max-width: toRem(350);
}

.form {
  width: 100%;

  @include breakpoint-up(desktop) {
    width: 55%;
  }
}
