@import "../../scss/essentials";

.wrapper {
  @include breakpoint-up(desktop) {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
.img {
  display: none;

  @include breakpoint-up(desktop) {
    display: block;
    position: sticky;
    top: toRem(40);
    width: 40%;
    max-width: toRem(200);
    align-self: flex-start;
    // margin-top: $margin--mid;
    // max-width: toRem(400);
  }
}

.form {
  width: 100%;

  @include breakpoint-up(desktop) {
    width: 55%;
  }
}
