@import "../../scss/essentials";

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: toRem(28);
    height: toRem(34);
    object-fit: cover;
    border-radius: $border--radius;
    border: 1px solid $clr--border;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1rem;
  color: $clr--contrast--primary;

  a {
    margin-top: 5px;
    transition: 0.3s ease;
  }

  a:hover {
    transform: scale(1.3);
  }
}
