@import "../../../scss/essentials";

@include breakpoint-up(laptop) {
  .sidebar,
  .btn,
  .background {
    display: none;
  }
}
.sidebar {
  position: fixed;
  top: 0;
  border-right: 1px solid $clr--border;
  background-color: $clr--bg--secondary;
  height: 100vh;
  overflow-y: scroll;
  z-index: $zindex--sidebar;

  li {
    width: 100%;
    transition: 0.2s ease;
    text-transform: capitalize;
  }

  li:first-of-type {
    margin-top: 0;
  }

  li:hover {
    background-color: $clr--bg--secondary;
    cursor: pointer;
  }
  li svg {
    margin-right: toRem(5);
  }

  li a {
    display: flex;
    align-items: flex-start;
    padding: toRem(20) toRem(30);
  }

  .back {
    display: flex;
    align-items: center;
    padding: toRem(20) toRem(30);
  }

  &::before {
    outline: 100px solid black;
  }

  @include breakpoint-up(laptop) {
    display: none;
  }
}

.btn {
  svg {
    font-size: 2rem;
  }
}

.background {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 150%;
  left: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex--modal--background;
  backdrop-filter: blur(0.27rem);
}

.showBackground {
  animation: 0.3s apearBackground;
}

.hideBackground {
  transform: scale(0);
  animation: 0.5s disapearBackground;
}

.close {
  left: -100%;
  animation: 0.3s toLeft;
}
.open {
  left: 0;
  opacity: 1;
  animation: 0.3s fromLeft;
}
.untouched {
  display: none;
}

@keyframes fromLeft {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes toLeft {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

@keyframes apearBackground {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes disapearBackground {
  0% {
    opacity: 1;
    transform: scale(1);
    z-index: $zindex--modal--background;
  }

  100% {
    opacity: 0;
    transform: scale(1);
    z-index: $zindex--modal--background;
  }
}
